* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.clear-fix::after {
    display: table;
    content: "";
    clear: both;
}

/* header */


header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 45px;
    color: orangered;
    font-family: 'Nerko One', cursive;
}




/* main */

.container {
    width: 90%;
    margin: 15px auto;

    /* background-color: blue;
    height: 400px; */
}

.container-info img {
    width: 100%;
    display: block;
}

.container-info {
    display: flex;
    flex-wrap: wrap;

}

.info {
    padding: 3%;
    background-color: white;
    width: 100%;

}
.info ul {
    list-style: none;
    padding-top: 20px;
}

.invi {
    display: none;
}


/* bottoni */
.bottone {
    background-color: white;
    border: none;
    border-radius: 9999px;
    padding: 10px 15px;
}




/*banner */
.container-banner img {
    width: 100%;
}

.container-banner {
    display: none;
}

/* social */
.social {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.social span {
    display: none;
}

.fa-facebook {
    color: #1775f0;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #db4179;
}

.fa-pinterest {
    color: #e92525;
}

.fa-youtube {
    color: #e22020;
}



/* presentation */
.prese-img img {
    width: 100%;
    padding: 0 20%;
}

/* footer */


footer {
    background-color: blueviolet;
    padding: 30px;
    /* height: 150px; */
}

.bolean {
    text-align: center;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.via {
    text-align: center;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.nav a {
    color: white;
    padding: 0 10px;
}

/* versione tablet */

@media screen and (min-width:768px) {
    header {
        justify-content: left;
    }

    .container {
        width: 85%;
        margin: 15px auto;
    }

    .container-img {
        width: 100%;
    }

    .container-banner {
        display: block;
    }

    .bottone {
        padding: 10px 55px;
    }

    .prese-img img {
        float: left;
        padding: 10px 5px;
        width: 40%;
    }

    .invi {
        display: inline;
    }
    
    .info ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

    }
    .info li {
        width: calc(100% / 3);
    }
    
}



/* versione pc */

/* @media screen and (min-width:992px) {
    
} 