* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* header */


header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 45px;
    color: orangered;
    font-family: 'Nerko One', cursive;
}




/* main */

.container {
    width: 90%;
    margin: 15px auto;

    /* background-color: blue;
    height: 400px; */
}
.container-info img {
    width: 100%;
    display: block;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    
}
.info {
    padding: 3%;
    background-color: white;
    width: 100%;

}


/* bottoni */
.bottone {
    background-color: white;
    border: none;
    border-radius: 9999px;
    padding: 10px 15px;
}




/*banner */
.container-banner img {
    width: 100%;
}
.container-banner{
    display: none;
}
/* social */
.social {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.social span {
    display: none;
}
.fa-facebook{
    color: #1775f0;
}

.fa-twitter{
    color: #009eff;
}

.fa-instagram{
    color: #db4179;
}

.fa-pinterest{
    color: #e92525;
}

.fa-youtube{
    color: #e22020;
}



/* presentation */
.prese-img img {
    width: 100%;
    padding: 0 20%;
}

/* footer */


footer {
    background-color: blueviolet;

    height: 150px;
}


/* versione tablet */

/* @media screen and (min-width:768px) {
    
} */



/* versione pc */

/* @media screen and (min-width:992px) {
    
} */
