* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* header */


header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header h1 {
    font-size: 45px;
    color: orangered;
    font-family: 'Nerko One', cursive;
}




/* main */

.container {
    width: 95%;
    margin: 15px auto;

    /* background-color: blue;
    height: 400px; */
}
.container img {
    width: 100%;
    display: block;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
}
.info {
    padding: 3%;
    background-color: white;
}

/* footer */


footer {
    background-color: blueviolet;

    height: 150px;
}


/* versione tablet */

/* @media screen and (min-width:768px) {
    
} */



/* versione pc */

/* @media screen and (min-width:992px) {
    
} */
